﻿@model ViewModel.biodataViewModel

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NPM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Umur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Umur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jenis_Kelamin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domisili)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domisili)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_on)
        </dd>

    </dl>
</div>
