﻿
@{
    ViewBag.Title = "Peserta Deteksi Dini Covid-19";
}

<h2>Peserta Deteksi Dini Covid-19</h2>
@if (ViewBag.alertMessage != string.Empty && ViewBag.alertMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.alertMessage
    </div>
}

<a href='@Url.Action("Add", "Deteksi")' class="btn btn-primary">Daftar</a> <a id="listPeserta" class="btn btn-default">Lihat peserta</a>

<div id="listData"></div>

<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal1-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var loadingBar = '<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" style="width: 100%"></div>';

        $("#listPeserta").on("click", function () {
            $("#listData").html(loadingBar);
            $.ajax({
                url: '@Url.Action("List", "Deteksi")',
                type: 'get',
                success: function (result) {
                    $("#listData").html(result);
                }
            })
        });

        $(document).on("click", ".btnDetails", function () {
            let dataId = $(this).attr("data-id");
            $("#modal1").modal("show");
            $.ajax({
                url: '@Url.Action("Details", "Deteksi")' + '/' + dataId,
                type: 'get',
                success: function (result) {
                    $("#modal1-body").html(result);
                }
            });
        })
    </script>
}